<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allenxuan.xuanyihuang.chromecustomtabsutilities">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <receiver android:name="com.allenxuan.xuanyihuang.showpowerfulweb.ShareBroadcastReceiver" />
    </application>


</manifest>
